/* Work in media queries */

*{
    margin: 0;
    font-family: 'Lato', sans-serif;
    /* background-color: rgba(245, 245, 245); */
    
}
.background-container{
    z-index: -1;
    /* margin-top:0px; */
    border:3px dotted;
    margin-left: 10%;
    margin-right: 15%;
    width: 80%;
    height: 100vh;
    background-color:rgb(168, 182, 168);
    position: fixed;
}

.container {
    z-index:1;
    color: black;
    /* background-color:white; */
    display: grid;
    margin-left: 20%;
    margin-right: 15%;
    margin-top:90px;
    width: 60%;
    grid-row: 1fr 4fr 4fr;
    grid-row-gap: 10px;
    justify-items: center;
    /* border: 3px solid orange; */
    
    
}
.child1{
    margin-top:10px;
    /* background-color: rgba(245, 245, 245); */
    width: 100vh;
    /* border: 3px solid orange; */
    display: grid;
    grid-row: 4fr 1fr;
    text-align: center;
    grid-row-gap: 4px;
    
}
.child1 p{
    /* border:3px solid orchid; */
    font-size: 50px;
    font-weight: 900;
}
.child1 h3{
    /* border:3px solid orchid; */
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
}

.child2{
    /* background-color: rgba(245, 245, 245); */
    /* border: 3px solid orange; */
    display: grid;
    grid-row:4fr 1fr;
    justify-content: center;
    width: 100vh;
    text-align: center;
    
}
.child2 img{
    /* border:3px solid orchid; */
    height: 30vh;
    max-width: 100%;
}
.child2 p{
    /* border:3px solid orchid; */
    font:bold;
    font-weight: 700;
    padding:3px
}

.child3{
    /* background-color: rgba(245, 245, 245); */
    /* border: 3px solid orange; */
    width: 100vh;
    display: grid;
    grid-row-gap: 10px;
   
}
.child3 li{
    padding:10px;
    font-size: 1.2em;
    font-weight: 400;
    
}
.child3 p{
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    font-weight: 700;
    /* border:3px solid orchid; */
}